*
    margin: 0
    padding: 0
    position: relative
    
\:root
    font-size: 1em
    box-sizing: border-box
    font-family: 'Open Sans', Arial, sans-serif
    font-weight: normal

body *,
::before,
::after
    box-sizing: inherit

body
    position: static
    background-color: #fff
    z-index: 0

ul
    list-style: none

a
    text-decoration: none

button
    border: none
    background: none
    font-family: inherit

// HEADERS
.page-main-header
    text-align: center
    line-height: 1.3
    font-size: 2.25rem
    margin: 50px 0

.page-front .page-main-header
    color: white

.section-header


.container
    // border: 1px solid #E1E1E1
    padding: 0.93em
    max-width: 1170px
    margin: auto

// SITE HEADER LAYOUT
.page > header
    display: flex
    flex-direction: column

.site-header 
    order: 2

    .container
        display: flex
        flex-direction: column
        align-items: center
        order: 1

.site-nav
    order: 1
    background-color: $dark-primary-color

