/* SITE-LOGO */
.logo
    margin-bottom: 25px

    &__link
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        flex-direction: column

    &__icon
        margin-bottom: 15px

    &__text
        text-align: center
        color: $primary-text
        transition: 0.4s

        &--bigger
            color: $dark-primary-color
            font-family: 'Panton', Arial, sans-serif
            font-size: 1.56rem
            transition: 0.4s
    
    &:hover
        .logo__text
            color: #DF3C31

            &--bigger
                color: #DF3C31

@media screen and (min-width: 490px)
    .logo

        &__link
            flex-direction: row

        &__icon
            margin-right: 25px

@media screen and (min-width: 940px)
    .logo
        margin-bottom: 0